@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-end-rgb)),
      transparent
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --scrollbar-gradient: linear-gradient(
    to bottom,
    white 50%,
    green
  );
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #01081a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  background: var(--scrollbar-gradient);
}

/* Global anchor styles */
a {
  @apply relative text-green-600 font-bold transition-colors duration-300;
}
a:hover,
a:focus {
  @apply outline-none;
}
a:before {
  @apply content-[''] w-full h-[1px] absolute top-full left-0 bg-green-600 scale-x-0 transition-all duration-300 origin-left;
}
a:after {
  @apply content-[''] w-full h-[1px] absolute top-full right-0 bg-green-600 scale-x-0 transition-all duration-300 origin-right;
}
a:hover:before,
a:focus:before,
a:hover:after,
a:focus:after {
  @apply scale-x-100;
}